<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>camera4_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{124,157}}</string>
        <key>offset</key>
        <string>{30,-16.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68,38},{124,157}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera4_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,157},{122,153}}</string>
        <key>offset</key>
        <string>{30,-17.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{69,41},{122,153}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera4_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,310},{123,149}}</string>
        <key>offset</key>
        <string>{28.5,-16.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{67,42},{123,149}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera4_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,157},{122,146}}</string>
        <key>offset</key>
        <string>{29,-15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68,42},{122,146}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera4_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,0},{120,146}}</string>
        <key>offset</key>
        <string>{31,-14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{71,41},{120,146}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera4_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,459},{120,145}}</string>
        <key>offset</key>
        <string>{31,-12.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{71,40},{120,145}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera4_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,604},{121,144}}</string>
        <key>offset</key>
        <string>{32.5,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{72,38},{121,144}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera4_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,459},{122,143}}</string>
        <key>offset</key>
        <string>{33,-7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{72,36},{122,143}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>pet1_1.png</string>
      <key>size</key>
      <string>{244,748}</string>
      <key>textureFileName</key>
      <string>pet1_1</string>
    </dict>
  </dict>
</plist>
