<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>camera7_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{122,150}}</string>
        <key>offset</key>
        <string>{-27,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,24},{122,150}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera7_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,150},{121,149}}</string>
        <key>offset</key>
        <string>{-27.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,24},{121,149}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera7_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,299},{119,146}}</string>
        <key>offset</key>
        <string>{-27.5,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,24},{119,146}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera7_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,445},{118,144}}</string>
        <key>offset</key>
        <string>{-28,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,22},{118,144}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera7_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,589},{117,140}}</string>
        <key>offset</key>
        <string>{-28.5,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{13,21},{117,140}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera7_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,729},{120,139}}</string>
        <key>offset</key>
        <string>{-30,11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,19},{120,139}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera7_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,589},{118,139}}</string>
        <key>offset</key>
        <string>{-30,11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{11,19},{118,139}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera7_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,445},{117,138}}</string>
        <key>offset</key>
        <string>{-29.5,11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,20},{117,138}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>pet1_2.png</string>
      <key>size</key>
      <string>{235,868}</string>
      <key>textureFileName</key>
      <string>pet1_2</string>
    </dict>
  </dict>
</plist>
