<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>9.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{270,288}}</string>
        <key>offset</key>
        <string>{-4.5,20.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{53,28},{270,288}}</string>
        <key>sourceSize</key>
        <string>{385,385}</string>
      </dict>
      <key>6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,288},{260,245}}</string>
        <key>offset</key>
        <string>{-32.5,63}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{30,7},{260,245}}</string>
        <key>sourceSize</key>
        <string>{385,385}</string>
      </dict>
      <key>7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,548},{254,253}}</string>
        <key>offset</key>
        <string>{-22.5,53}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{43,13},{254,253}}</string>
        <key>sourceSize</key>
        <string>{385,385}</string>
      </dict>
      <key>4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,802},{218,206}}</string>
        <key>offset</key>
        <string>{-0.5,46.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{83,43},{218,206}}</string>
        <key>sourceSize</key>
        <string>{385,385}</string>
      </dict>
      <key>8.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,288},{235,248}}</string>
        <key>offset</key>
        <string>{-37,59.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{38,9},{235,248}}</string>
        <key>sourceSize</key>
        <string>{385,385}</string>
      </dict>
      <key>3.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,802},{203,204}}</string>
        <key>offset</key>
        <string>{-10,46.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{81,44},{203,204}}</string>
        <key>sourceSize</key>
        <string>{385,385}</string>
      </dict>
      <key>5.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,536},{232,118}}</string>
        <key>offset</key>
        <string>{-7.5,31.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{69,102},{232,118}}</string>
        <key>sourceSize</key>
        <string>{385,385}</string>
      </dict>
      <key>2.png</key>
      <dict>
        <key>frame</key>
        <string>{{371,536},{191,203}}</string>
        <key>offset</key>
        <string>{-17,42}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{80,49},{191,203}}</string>
        <key>sourceSize</key>
        <string>{385,385}</string>
      </dict>
      <key>1.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,739},{171,193}}</string>
        <key>offset</key>
        <string>{-14,43}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{93,53},{171,193}}</string>
        <key>sourceSize</key>
        <string>{385,385}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>s002.png</string>
      <key>size</key>
      <string>{580,1020}</string>
      <key>textureFileName</key>
      <string>s002</string>
    </dict>
  </dict>
</plist>
