<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>heroSkill81_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{244,215}}</string>
        <key>offset</key>
        <string>{-1,32.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,0},{244,215}}</string>
        <key>sourceSize</key>
        <string>{280,280}</string>
      </dict>
      <key>heroSkill81_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,0},{234,207}}</string>
        <key>offset</key>
        <string>{0,36.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,0},{234,207}}</string>
        <key>sourceSize</key>
        <string>{280,280}</string>
      </dict>
      <key>heroSkill81_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,0},{209,185}}</string>
        <key>offset</key>
        <string>{0.5,36.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,11},{209,185}}</string>
        <key>sourceSize</key>
        <string>{280,280}</string>
      </dict>
      <key>heroSkill81_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,0},{173,109}}</string>
        <key>offset</key>
        <string>{0.5,3.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{54,82},{173,109}}</string>
        <key>sourceSize</key>
        <string>{280,280}</string>
      </dict>
      <key>heroSkill81_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{860,0},{110,164}}</string>
        <key>offset</key>
        <string>{3,58}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{88,0},{110,164}}</string>
        <key>sourceSize</key>
        <string>{280,280}</string>
      </dict>
      <key>heroSkill81_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,109},{94,164}}</string>
        <key>offset</key>
        <string>{2,58}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{95,0},{94,164}}</string>
        <key>sourceSize</key>
        <string>{280,280}</string>
      </dict>
      <key>heroSkill81_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{851,110},{140,92}}</string>
        <key>offset</key>
        <string>{1,8}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{71,86},{140,92}}</string>
        <key>sourceSize</key>
        <string>{280,280}</string>
      </dict>
      <key>heroSkill81_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{851,202},{139,102}}</string>
        <key>offset</key>
        <string>{-0.5,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{70,85},{139,102}}</string>
        <key>sourceSize</key>
        <string>{280,280}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>s006.png</string>
      <key>size</key>
      <string>{1024,304}</string>
      <key>textureFileName</key>
      <string>s006</string>
    </dict>
  </dict>
</plist>
