<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hj05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{190,222}}</string>
        <key>offset</key>
        <string>{7,63}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{62,33},{190,222}}</string>
        <key>sourceSize</key>
        <string>{300,414}</string>
      </dict>
      <key>hj06.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,222},{149,217}}</string>
        <key>offset</key>
        <string>{13.5,66.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{89,32},{149,217}}</string>
        <key>sourceSize</key>
        <string>{300,414}</string>
      </dict>
      <key>hj07.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,439},{148,217}}</string>
        <key>offset</key>
        <string>{5,63.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{81,35},{148,217}}</string>
        <key>sourceSize</key>
        <string>{300,414}</string>
      </dict>
      <key>hj04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,656},{191,214}}</string>
        <key>offset</key>
        <string>{-2.5,63}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52,37},{191,214}}</string>
        <key>sourceSize</key>
        <string>{300,414}</string>
      </dict>
      <key>hj03.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,439},{168,210}}</string>
        <key>offset</key>
        <string>{-6,69}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{60,33},{168,210}}</string>
        <key>sourceSize</key>
        <string>{300,414}</string>
      </dict>
      <key>hj02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,870},{143,119}}</string>
        <key>offset</key>
        <string>{-12.5,38.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{66,109},{143,119}}</string>
        <key>sourceSize</key>
        <string>{300,414}</string>
      </dict>
      <key>hj08.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,870},{116,157}}</string>
        <key>offset</key>
        <string>{0,46.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{92,82},{116,157}}</string>
        <key>sourceSize</key>
        <string>{300,414}</string>
      </dict>
      <key>hj01.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,870},{114,75}}</string>
        <key>offset</key>
        <string>{3,22.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{96,147},{114,75}}</string>
        <key>sourceSize</key>
        <string>{300,414}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>s009.png</string>
      <key>size</key>
      <string>{351,1013}</string>
      <key>textureFileName</key>
      <string>s009</string>
    </dict>
  </dict>
</plist>
