<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>heroSkill69_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{247,238}}</string>
        <key>offset</key>
        <string>{-0.5,51}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46,0},{247,238}}</string>
        <key>sourceSize</key>
        <string>{340,340}</string>
      </dict>
      <key>heroSkill69_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,0},{245,238}}</string>
        <key>offset</key>
        <string>{-1.5,51}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46,0},{245,238}}</string>
        <key>sourceSize</key>
        <string>{340,340}</string>
      </dict>
      <key>heroSkill69_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,0},{236,238}}</string>
        <key>offset</key>
        <string>{0,51}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{52,0},{236,238}}</string>
        <key>sourceSize</key>
        <string>{340,340}</string>
      </dict>
      <key>heroSkill69_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{730,0},{235,238}}</string>
        <key>offset</key>
        <string>{-0.5,51}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{52,0},{235,238}}</string>
        <key>sourceSize</key>
        <string>{340,340}</string>
      </dict>
      <key>heroSkill69_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{730,235},{233,238}}</string>
        <key>offset</key>
        <string>{-3.5,51}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{50,0},{233,238}}</string>
        <key>sourceSize</key>
        <string>{340,340}</string>
      </dict>
      <key>heroSkill69_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,236},{149,221}}</string>
        <key>offset</key>
        <string>{1.5,59.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{97,0},{149,221}}</string>
        <key>sourceSize</key>
        <string>{340,340}</string>
      </dict>
      <key>heroSkill69_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,238},{120,218}}</string>
        <key>offset</key>
        <string>{0,53}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{110,8},{120,218}}</string>
        <key>sourceSize</key>
        <string>{340,340}</string>
      </dict>
      <key>heroSkill69_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,238},{143,216}}</string>
        <key>offset</key>
        <string>{-1.5,59}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{97,3},{143,216}}</string>
        <key>sourceSize</key>
        <string>{340,340}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>s010.png</string>
      <key>size</key>
      <string>{968,468}</string>
      <key>textureFileName</key>
      <string>s010</string>
    </dict>
  </dict>
</plist>
