<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>fj07.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{297,158}}</string>
        <key>offset</key>
        <string>{0.5,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,128},{297,158}}</string>
        <key>sourceSize</key>
        <string>{320,416}</string>
      </dict>
      <key>fj06.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,0},{255,157}}</string>
        <key>offset</key>
        <string>{0.5,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{33,124},{255,157}}</string>
        <key>sourceSize</key>
        <string>{320,416}</string>
      </dict>
      <key>fj05.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,0},{214,156}}</string>
        <key>offset</key>
        <string>{0,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{53,128},{214,156}}</string>
        <key>sourceSize</key>
        <string>{320,416}</string>
      </dict>
      <key>fj04.png</key>
      <dict>
        <key>frame</key>
        <string>{{766,0},{211,167}}</string>
        <key>offset</key>
        <string>{0.5,9.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55,115},{211,167}}</string>
        <key>sourceSize</key>
        <string>{320,416}</string>
      </dict>
      <key>fj03.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,156},{189,152}}</string>
        <key>offset</key>
        <string>{-6.5,12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{59,120},{189,152}}</string>
        <key>sourceSize</key>
        <string>{320,416}</string>
      </dict>
      <key>fj02.png</key>
      <dict>
        <key>frame</key>
        <string>{{741,156},{22,113}}</string>
        <key>offset</key>
        <string>{-3,93.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{146,58},{22,113}}</string>
        <key>sourceSize</key>
        <string>{320,416}</string>
      </dict>
      <key>fj01.png</key>
      <dict>
        <key>frame</key>
        <string>{{977,0},{22,108}}</string>
        <key>offset</key>
        <string>{-3,154}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{146,0},{22,108}}</string>
        <key>sourceSize</key>
        <string>{320,416}</string>
      </dict>
      <key>fj08.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,157},{188,133}}</string>
        <key>offset</key>
        <string>{-1,13.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{65,128},{188,133}}</string>
        <key>sourceSize</key>
        <string>{320,416}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>s011.png</string>
      <key>size</key>
      <string>{999,308}</string>
      <key>textureFileName</key>
      <string>s011</string>
    </dict>
  </dict>
</plist>
