<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>pzhen07.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{310,256}}</string>
        <key>offset</key>
        <string>{3,27}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,20},{310,256}}</string>
        <key>sourceSize</key>
        <string>{350,350}</string>
      </dict>
      <key>pzhen06.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,0},{305,234}}</string>
        <key>offset</key>
        <string>{19.5,58}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42,0},{305,234}}</string>
        <key>sourceSize</key>
        <string>{350,350}</string>
      </dict>
      <key>pzhen05.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,0},{283,194}}</string>
        <key>offset</key>
        <string>{-4.5,46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29,32},{283,194}}</string>
        <key>sourceSize</key>
        <string>{350,350}</string>
      </dict>
      <key>pzhen03.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,0},{198,119}}</string>
        <key>offset</key>
        <string>{0,13.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{76,102},{198,119}}</string>
        <key>sourceSize</key>
        <string>{350,350}</string>
      </dict>
      <key>pzhen08.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,194},{260,246}}</string>
        <key>offset</key>
        <string>{20,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{65,52},{260,246}}</string>
        <key>sourceSize</key>
        <string>{350,350}</string>
      </dict>
      <key>pzhen04.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,198},{225,143}}</string>
        <key>offset</key>
        <string>{0.5,25.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{63,78},{225,143}}</string>
        <key>sourceSize</key>
        <string>{350,350}</string>
      </dict>
      <key>pzhen02.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,423},{181,95}}</string>
        <key>offset</key>
        <string>{0.5,1.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{85,126},{181,95}}</string>
        <key>sourceSize</key>
        <string>{350,350}</string>
      </dict>
      <key>pzhen01.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,234},{181,92}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{85,129},{181,92}}</string>
        <key>sourceSize</key>
        <string>{350,350}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>s018.png</string>
      <key>size</key>
      <string>{1018,604}</string>
      <key>textureFileName</key>
      <string>s018</string>
    </dict>
  </dict>
</plist>
