<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>fs04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{191,302}}</string>
        <key>offset</key>
        <string>{-0.5,96}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{154,3},{191,302}}</string>
        <key>sourceSize</key>
        <string>{500,500}</string>
      </dict>
      <key>fs02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,302},{160,282}}</string>
        <key>offset</key>
        <string>{0,107}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{170,2},{160,282}}</string>
        <key>sourceSize</key>
        <string>{500,500}</string>
      </dict>
      <key>fs03.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,584},{179,264}}</string>
        <key>offset</key>
        <string>{0.5,83}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{161,35},{179,264}}</string>
        <key>sourceSize</key>
        <string>{500,500}</string>
      </dict>
      <key>fs06.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,302},{258,126}}</string>
        <key>offset</key>
        <string>{16,20}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{137,167},{258,126}}</string>
        <key>sourceSize</key>
        <string>{500,500}</string>
      </dict>
      <key>fs05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,848},{242,139}}</string>
        <key>offset</key>
        <string>{-3,4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{126,176},{242,139}}</string>
        <key>sourceSize</key>
        <string>{500,500}</string>
      </dict>
      <key>fs01.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,560},{71,257}}</string>
        <key>offset</key>
        <string>{-4.5,121.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{210,0},{71,257}}</string>
        <key>sourceSize</key>
        <string>{500,500}</string>
      </dict>
      <key>fs07.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,817},{40,82}}</string>
        <key>offset</key>
        <string>{0,33}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{230,176},{40,82}}</string>
        <key>sourceSize</key>
        <string>{500,500}</string>
      </dict>
      <key>fs08.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,817},{40,82}}</string>
        <key>offset</key>
        <string>{0,33}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{230,176},{40,82}}</string>
        <key>sourceSize</key>
        <string>{500,500}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>s023.png</string>
      <key>size</key>
      <string>{286,987}</string>
      <key>textureFileName</key>
      <string>s023</string>
    </dict>
  </dict>
</plist>
