<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>heroSkill95_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{138,277}}</string>
        <key>offset</key>
        <string>{0,135}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{121,7},{138,277}}</string>
        <key>sourceSize</key>
        <string>{380,561}</string>
      </dict>
      <key>heroSkill95_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,277},{238,193}}</string>
        <key>offset</key>
        <string>{0,37}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{71,147},{238,193}}</string>
        <key>sourceSize</key>
        <string>{380,561}</string>
      </dict>
      <key>heroSkill95_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,0},{224,190}}</string>
        <key>offset</key>
        <string>{2,38.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{80,147},{224,190}}</string>
        <key>sourceSize</key>
        <string>{380,561}</string>
      </dict>
      <key>heroSkill95_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,515},{224,190}}</string>
        <key>offset</key>
        <string>{2,38.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{80,147},{224,190}}</string>
        <key>sourceSize</key>
        <string>{380,561}</string>
      </dict>
      <key>heroSkill95_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,739},{130,223}}</string>
        <key>offset</key>
        <string>{1,93}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{126,76},{130,223}}</string>
        <key>sourceSize</key>
        <string>{380,561}</string>
      </dict>
      <key>heroSkill95_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,739},{176,177}}</string>
        <key>offset</key>
        <string>{0,45}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{102,147},{176,177}}</string>
        <key>sourceSize</key>
        <string>{380,561}</string>
      </dict>
      <key>heroSkill95_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,916},{67,126}}</string>
        <key>offset</key>
        <string>{-6.5,58.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{150,159},{67,126}}</string>
        <key>sourceSize</key>
        <string>{380,561}</string>
      </dict>
      <key>heroSkill95_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,515},{116,135}}</string>
        <key>offset</key>
        <string>{1,61}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{133,152},{116,135}}</string>
        <key>sourceSize</key>
        <string>{380,561}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>s031.png</string>
      <key>size</key>
      <string>{328,983}</string>
      <key>textureFileName</key>
      <string>s031</string>
    </dict>
  </dict>
</plist>
