<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>heroSkill33_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{260,296}}</string>
        <key>offset</key>
        <string>{-5,66.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{15,0},{260,296}}</string>
        <key>sourceSize</key>
        <string>{300,429}</string>
      </dict>
      <key>heroSkill33_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,296},{241,282}}</string>
        <key>offset</key>
        <string>{2.5,73.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32,0},{241,282}}</string>
        <key>sourceSize</key>
        <string>{300,429}</string>
      </dict>
      <key>heroSkill33_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,578},{274,278}}</string>
        <key>offset</key>
        <string>{-4,75.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{9,0},{274,278}}</string>
        <key>sourceSize</key>
        <string>{300,429}</string>
      </dict>
      <key>heroSkill33_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,296},{276,273}}</string>
        <key>offset</key>
        <string>{-3,78}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{9,0},{276,273}}</string>
        <key>sourceSize</key>
        <string>{300,429}</string>
      </dict>
      <key>heroSkill33_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,0},{273,254}}</string>
        <key>offset</key>
        <string>{3.5,87.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{17,0},{273,254}}</string>
        <key>sourceSize</key>
        <string>{300,429}</string>
      </dict>
      <key>heroSkill33_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,0},{258,254}}</string>
        <key>offset</key>
        <string>{-2,87.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{19,0},{258,254}}</string>
        <key>sourceSize</key>
        <string>{300,429}</string>
      </dict>
      <key>heroSkill33_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{768,0},{258,251}}</string>
        <key>offset</key>
        <string>{-2,89}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{19,0},{258,251}}</string>
        <key>sourceSize</key>
        <string>{300,429}</string>
      </dict>
      <key>heroSkill33_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,856},{105,76}}</string>
        <key>offset</key>
        <string>{-4.5,0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{93,176},{105,76}}</string>
        <key>sourceSize</key>
        <string>{300,429}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>s034.png</string>
      <key>size</key>
      <string>{1019,961}</string>
      <key>textureFileName</key>
      <string>s034</string>
    </dict>
  </dict>
</plist>
