<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>heroSkill87_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{227,151}}</string>
        <key>offset</key>
        <string>{-3.5,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{33,77},{227,151}}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
      </dict>
      <key>heroSkill87_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,0},{225,145}}</string>
        <key>offset</key>
        <string>{-3.5,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{34,80},{225,145}}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
      </dict>
      <key>heroSkill87_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,0},{225,139}}</string>
        <key>offset</key>
        <string>{-3.5,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{34,82},{225,139}}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
      </dict>
      <key>heroSkill87_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{677,0},{186,145}}</string>
        <key>offset</key>
        <string>{-1,18.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{56,59},{186,145}}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
      </dict>
      <key>heroSkill87_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{863,0},{160,127}}</string>
        <key>offset</key>
        <string>{-3,43.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{67,43},{160,127}}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
      </dict>
      <key>heroSkill87_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{863,127},{158,184}}</string>
        <key>offset</key>
        <string>{-2,50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{69,8},{158,184}}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
      </dict>
      <key>heroSkill87_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,139},{165,151}}</string>
        <key>offset</key>
        <string>{-2.5,27.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{65,47},{165,151}}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
      </dict>
      <key>heroSkill87_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,145},{163,162}}</string>
        <key>offset</key>
        <string>{-1.5,37}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{67,32},{163,162}}</string>
        <key>sourceSize</key>
        <string>{300,300}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>s035.png</string>
      <key>size</key>
      <string>{1023,311}</string>
      <key>textureFileName</key>
      <string>s035</string>
    </dict>
  </dict>
</plist>
