<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>heroSkill31_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{220,111}}</string>
        <key>offset</key>
        <string>{-4,-2.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{61,122},{220,111}}</string>
        <key>sourceSize</key>
        <string>{350,350}</string>
      </dict>
      <key>heroSkill31_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,0},{211,151}}</string>
        <key>offset</key>
        <string>{-13.5,26.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{56,73},{211,151}}</string>
        <key>sourceSize</key>
        <string>{350,350}</string>
      </dict>
      <key>heroSkill31_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,111},{206,118}}</string>
        <key>offset</key>
        <string>{2,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{74,118},{206,118}}</string>
        <key>sourceSize</key>
        <string>{350,350}</string>
      </dict>
      <key>heroSkill31_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,0},{204,145}}</string>
        <key>offset</key>
        <string>{-18,30.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55,72},{204,145}}</string>
        <key>sourceSize</key>
        <string>{350,350}</string>
      </dict>
      <key>heroSkill31_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,0},{192,114}}</string>
        <key>offset</key>
        <string>{5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{84,119},{192,114}}</string>
        <key>sourceSize</key>
        <string>{350,350}</string>
      </dict>
      <key>heroSkill31_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{827,0},{184,107}}</string>
        <key>offset</key>
        <string>{5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{88,122},{184,107}}</string>
        <key>sourceSize</key>
        <string>{350,350}</string>
      </dict>
      <key>heroSkill31_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{827,107},{131,122}}</string>
        <key>offset</key>
        <string>{-109.5,106}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,8},{131,122}}</string>
        <key>sourceSize</key>
        <string>{350,350}</string>
      </dict>
      <key>heroSkill31_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,114},{119,113}}</string>
        <key>offset</key>
        <string>{-69.5,70.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46,48},{119,113}}</string>
        <key>sourceSize</key>
        <string>{350,350}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>s038.png</string>
      <key>size</key>
      <string>{1011,229}</string>
      <key>textureFileName</key>
      <string>s038</string>
    </dict>
  </dict>
</plist>
