<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>heroSkill89_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{210,227}}</string>
        <key>offset</key>
        <string>{1,49}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46,23},{210,227}}</string>
        <key>sourceSize</key>
        <string>{300,371}</string>
      </dict>
      <key>heroSkill89_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,227},{195,226}}</string>
        <key>offset</key>
        <string>{-0.5,49.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52,23},{195,226}}</string>
        <key>sourceSize</key>
        <string>{300,371}</string>
      </dict>
      <key>heroSkill89_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,453},{193,225}}</string>
        <key>offset</key>
        <string>{1.5,49}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55,24},{193,225}}</string>
        <key>sourceSize</key>
        <string>{300,371}</string>
      </dict>
      <key>heroSkill89_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,678},{199,108}}</string>
        <key>offset</key>
        <string>{-1.5,-0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{49,132},{199,108}}</string>
        <key>sourceSize</key>
        <string>{300,371}</string>
      </dict>
      <key>heroSkill89_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,877},{189,139}}</string>
        <key>offset</key>
        <string>{2.5,10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{58,106},{189,139}}</string>
        <key>sourceSize</key>
        <string>{300,371}</string>
      </dict>
      <key>heroSkill89_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,678},{175,94}}</string>
        <key>offset</key>
        <string>{-1.5,-0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{61,139},{175,94}}</string>
        <key>sourceSize</key>
        <string>{300,371}</string>
      </dict>
      <key>heroSkill89_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,853},{163,127}}</string>
        <key>offset</key>
        <string>{3.5,10}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{72,112},{163,127}}</string>
        <key>sourceSize</key>
        <string>{300,371}</string>
      </dict>
      <key>heroSkill89_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,853},{148,79}}</string>
        <key>offset</key>
        <string>{1,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{77,146},{148,79}}</string>
        <key>sourceSize</key>
        <string>{300,371}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>s039.png</string>
      <key>size</key>
      <string>{395,1016}</string>
      <key>textureFileName</key>
      <string>s039</string>
    </dict>
  </dict>
</plist>
