<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>tx03.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{313,355}}</string>
        <key>offset</key>
        <string>{4.5,76.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{23,0},{313,355}}</string>
        <key>sourceSize</key>
        <string>{350,508}</string>
      </dict>
      <key>tx04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,355},{301,347}}</string>
        <key>offset</key>
        <string>{2.5,80.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,0},{301,347}}</string>
        <key>sourceSize</key>
        <string>{350,508}</string>
      </dict>
      <key>tx05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,702},{178,301}}</string>
        <key>offset</key>
        <string>{-6,103.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{80,0},{178,301}}</string>
        <key>sourceSize</key>
        <string>{350,508}</string>
      </dict>
      <key>tx06.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,702},{165,290}}</string>
        <key>offset</key>
        <string>{-1.5,109}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{91,0},{165,290}}</string>
        <key>sourceSize</key>
        <string>{350,508}</string>
      </dict>
      <key>tx07.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,702},{122,287}}</string>
        <key>offset</key>
        <string>{-1,110.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{113,0},{122,287}}</string>
        <key>sourceSize</key>
        <string>{350,508}</string>
      </dict>
      <key>tx08.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,702},{116,283}}</string>
        <key>offset</key>
        <string>{-1,112.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{116,0},{116,283}}</string>
        <key>sourceSize</key>
        <string>{350,508}</string>
      </dict>
      <key>tx02.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,702},{269,273}}</string>
        <key>offset</key>
        <string>{9.5,71.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{50,46},{269,273}}</string>
        <key>sourceSize</key>
        <string>{350,508}</string>
      </dict>
      <key>tx01.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,702},{165,105}}</string>
        <key>offset</key>
        <string>{-0.5,10.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{92,191},{165,105}}</string>
        <key>sourceSize</key>
        <string>{350,508}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>s042.png</string>
      <key>size</key>
      <string>{1015,1003}</string>
      <key>textureFileName</key>
      <string>s042</string>
    </dict>
  </dict>
</plist>
