<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>yq05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{363,362}}</string>
        <key>offset</key>
        <string>{3.5,26}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32,3},{363,362}}</string>
        <key>sourceSize</key>
        <string>{420,420}</string>
      </dict>
      <key>yq06.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,0},{307,344}}</string>
        <key>offset</key>
        <string>{-5.5,38}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{51,0},{307,344}}</string>
        <key>sourceSize</key>
        <string>{420,420}</string>
      </dict>
      <key>yq07.png</key>
      <dict>
        <key>frame</key>
        <string>{{707,0},{281,308}}</string>
        <key>offset</key>
        <string>{4.5,56}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{74,0},{281,308}}</string>
        <key>sourceSize</key>
        <string>{420,420}</string>
      </dict>
      <key>yq04.png</key>
      <dict>
        <key>frame</key>
        <string>{{707,281},{288,288}}</string>
        <key>offset</key>
        <string>{3,35}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{69,31},{288,288}}</string>
        <key>sourceSize</key>
        <string>{420,420}</string>
      </dict>
      <key>yq08.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,307},{277,182}}</string>
        <key>offset</key>
        <string>{-0.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{71,120},{277,182}}</string>
        <key>sourceSize</key>
        <string>{420,420}</string>
      </dict>
      <key>yq02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,362},{274,184}}</string>
        <key>offset</key>
        <string>{23,118}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{96,0},{274,184}}</string>
        <key>sourceSize</key>
        <string>{420,420}</string>
      </dict>
      <key>yq03.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,489},{203,260}}</string>
        <key>offset</key>
        <string>{-21.5,75}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{87,5},{203,260}}</string>
        <key>sourceSize</key>
        <string>{420,420}</string>
      </dict>
      <key>yq01.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,489},{148,153}}</string>
        <key>offset</key>
        <string>{96,133.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{232,0},{148,153}}</string>
        <key>sourceSize</key>
        <string>{420,420}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>s045.png</string>
      <key>size</key>
      <string>{1015,692}</string>
      <key>textureFileName</key>
      <string>s045</string>
    </dict>
  </dict>
</plist>
