<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>ice02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{229,484}}</string>
        <key>offset</key>
        <string>{-10.5,158}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{75,0},{229,484}}</string>
        <key>sourceSize</key>
        <string>{400,800}</string>
      </dict>
      <key>ice03.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,484},{247,418}}</string>
        <key>offset</key>
        <string>{-0.5,116}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{76,75},{247,418}}</string>
        <key>sourceSize</key>
        <string>{400,800}</string>
      </dict>
      <key>ice08.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,902},{218,116}}</string>
        <key>offset</key>
        <string>{-1,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{90,344},{218,116}}</string>
        <key>sourceSize</key>
        <string>{400,800}</string>
      </dict>
      <key>ice01.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,0},{201,306}}</string>
        <key>offset</key>
        <string>{-25.5,224}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{74,23},{201,306}}</string>
        <key>sourceSize</key>
        <string>{400,800}</string>
      </dict>
      <key>ice07.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,0},{280,212}}</string>
        <key>offset</key>
        <string>{0,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{60,300},{280,212}}</string>
        <key>sourceSize</key>
        <string>{400,800}</string>
      </dict>
      <key>ice06.png</key>
      <dict>
        <key>frame</key>
        <string>{{710,0},{280,209}}</string>
        <key>offset</key>
        <string>{0,-7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{60,303},{280,209}}</string>
        <key>sourceSize</key>
        <string>{400,800}</string>
      </dict>
      <key>ice05.png</key>
      <dict>
        <key>frame</key>
        <string>{{710,209},{278,207}}</string>
        <key>offset</key>
        <string>{0,-7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{61,304},{278,207}}</string>
        <key>sourceSize</key>
        <string>{400,800}</string>
      </dict>
      <key>ice04.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,212},{277,193}}</string>
        <key>offset</key>
        <string>{-0.5,-7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{61,311},{277,193}}</string>
        <key>sourceSize</key>
        <string>{400,800}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>s048.png</string>
      <key>size</key>
      <string>{990,1018}</string>
      <key>textureFileName</key>
      <string>s048</string>
    </dict>
  </dict>
</plist>
