<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>lw04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{247,267}}</string>
        <key>offset</key>
        <string>{0.5,75}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{87,42},{247,267}}</string>
        <key>sourceSize</key>
        <string>{420,501}</string>
      </dict>
      <key>lw05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,267},{244,267}}</string>
        <key>offset</key>
        <string>{0,75}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{88,42},{244,267}}</string>
        <key>sourceSize</key>
        <string>{420,501}</string>
      </dict>
      <key>lw06.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,534},{239,267}}</string>
        <key>offset</key>
        <string>{-0.5,75}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{90,42},{239,267}}</string>
        <key>sourceSize</key>
        <string>{420,501}</string>
      </dict>
      <key>lw02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,801},{243,172}}</string>
        <key>offset</key>
        <string>{-0.5,27.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{88,137},{243,172}}</string>
        <key>sourceSize</key>
        <string>{420,501}</string>
      </dict>
      <key>lw07.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,534},{242,266}}</string>
        <key>offset</key>
        <string>{-7,75.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{82,42},{242,266}}</string>
        <key>sourceSize</key>
        <string>{420,501}</string>
      </dict>
      <key>lw08.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,267},{251,264}}</string>
        <key>offset</key>
        <string>{-10.5,76.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{74,42},{251,264}}</string>
        <key>sourceSize</key>
        <string>{420,501}</string>
      </dict>
      <key>lw03.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,0},{246,263}}</string>
        <key>offset</key>
        <string>{1,73}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{88,46},{246,263}}</string>
        <key>sourceSize</key>
        <string>{420,501}</string>
      </dict>
      <key>lw01.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,0},{228,161}}</string>
        <key>offset</key>
        <string>{-1,23}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{95,147},{228,161}}</string>
        <key>sourceSize</key>
        <string>{420,501}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>s049.png</string>
      <key>size</key>
      <string>{727,973}</string>
      <key>textureFileName</key>
      <string>s049</string>
    </dict>
  </dict>
</plist>
