<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>ssha07.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{341,265}}</string>
        <key>offset</key>
        <string>{31.5,46.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{121,81},{341,265}}</string>
        <key>sourceSize</key>
        <string>{520,520}</string>
      </dict>
      <key>ssha02.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,0},{333,266}}</string>
        <key>offset</key>
        <string>{-31.5,127}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{62,0},{333,266}}</string>
        <key>sourceSize</key>
        <string>{520,520}</string>
      </dict>
      <key>ssha06.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,265},{330,261}}</string>
        <key>offset</key>
        <string>{39,53.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{134,76},{330,261}}</string>
        <key>sourceSize</key>
        <string>{520,520}</string>
      </dict>
      <key>ssha05.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,0},{299,246}}</string>
        <key>offset</key>
        <string>{48.5,75}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{159,62},{299,246}}</string>
        <key>sourceSize</key>
        <string>{520,520}</string>
      </dict>
      <key>ssha03.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,246},{286,261}}</string>
        <key>offset</key>
        <string>{16,129.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{133,0},{286,261}}</string>
        <key>sourceSize</key>
        <string>{520,520}</string>
      </dict>
      <key>ssha08.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,266},{271,143}}</string>
        <key>offset</key>
        <string>{7.5,4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{132,184},{271,143}}</string>
        <key>sourceSize</key>
        <string>{520,520}</string>
      </dict>
      <key>ssha01.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,409},{253,161}}</string>
        <key>offset</key>
        <string>{-78.5,166.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{55,13},{253,161}}</string>
        <key>sourceSize</key>
        <string>{520,520}</string>
      </dict>
      <key>ssha04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,526},{228,224}}</string>
        <key>offset</key>
        <string>{46,109}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{192,39},{228,224}}</string>
        <key>sourceSize</key>
        <string>{520,520}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>s051.png</string>
      <key>size</key>
      <string>{973,750}</string>
      <key>textureFileName</key>
      <string>s051</string>
    </dict>
  </dict>
</plist>
