<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>cshi06.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{400,257}}</string>
        <key>offset</key>
        <string>{2,-12.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{52,134},{400,257}}</string>
        <key>sourceSize</key>
        <string>{500,500}</string>
      </dict>
      <key>cshi07.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{398,255}}</string>
        <key>offset</key>
        <string>{7,-10.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{58,133},{398,255}}</string>
        <key>sourceSize</key>
        <string>{500,500}</string>
      </dict>
      <key>cshi01.png</key>
      <dict>
        <key>frame</key>
        <string>{{798,0},{209,229}}</string>
        <key>offset</key>
        <string>{-3.5,13.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{142,122},{209,229}}</string>
        <key>sourceSize</key>
        <string>{500,500}</string>
      </dict>
      <key>cshi08.png</key>
      <dict>
        <key>frame</key>
        <string>{{798,229},{362,200}}</string>
        <key>offset</key>
        <string>{4,-12}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{73,162},{362,200}}</string>
        <key>sourceSize</key>
        <string>{500,500}</string>
      </dict>
      <key>cshi05.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,255},{397,351}}</string>
        <key>offset</key>
        <string>{9.5,32.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{61,42},{397,351}}</string>
        <key>sourceSize</key>
        <string>{500,500}</string>
      </dict>
      <key>cshi04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,257},{388,366}}</string>
        <key>offset</key>
        <string>{5,48}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{61,19},{388,366}}</string>
        <key>sourceSize</key>
        <string>{500,500}</string>
      </dict>
      <key>cshi03.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,623},{381,383}}</string>
        <key>offset</key>
        <string>{6.5,58.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{66,0},{381,383}}</string>
        <key>sourceSize</key>
        <string>{500,500}</string>
      </dict>
      <key>cshi02.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,623},{239,383}}</string>
        <key>offset</key>
        <string>{-5.5,58.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{125,0},{239,383}}</string>
        <key>sourceSize</key>
        <string>{500,500}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>s055.png</string>
      <key>size</key>
      <string>{1007,1006}</string>
      <key>textureFileName</key>
      <string>s055</string>
    </dict>
  </dict>
</plist>
