<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>anx04.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{373,299}}</string>
        <key>offset</key>
        <string>{4.5,60.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,15},{373,299}}</string>
        <key>sourceSize</key>
        <string>{400,450}</string>
      </dict>
      <key>anx03.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,0},{355,290}}</string>
        <key>offset</key>
        <string>{4.5,59}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,21},{355,290}}</string>
        <key>sourceSize</key>
        <string>{400,450}</string>
      </dict>
      <key>anx02.png</key>
      <dict>
        <key>frame</key>
        <string>{{728,0},{257,296}}</string>
        <key>offset</key>
        <string>{4.5,77}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{76,0},{257,296}}</string>
        <key>sourceSize</key>
        <string>{400,450}</string>
      </dict>
      <key>anx07.png</key>
      <dict>
        <key>frame</key>
        <string>{{728,257},{276,186}}</string>
        <key>offset</key>
        <string>{0,10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{62,122},{276,186}}</string>
        <key>sourceSize</key>
        <string>{400,450}</string>
      </dict>
      <key>anx06.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,290},{276,184}}</string>
        <key>offset</key>
        <string>{0,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{62,124},{276,184}}</string>
        <key>sourceSize</key>
        <string>{400,450}</string>
      </dict>
      <key>anx08.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,299},{276,153}}</string>
        <key>offset</key>
        <string>{0,-7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{62,156},{276,153}}</string>
        <key>sourceSize</key>
        <string>{400,450}</string>
      </dict>
      <key>anx05.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,452},{272,173}}</string>
        <key>offset</key>
        <string>{2,10.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{66,128},{272,173}}</string>
        <key>sourceSize</key>
        <string>{400,450}</string>
      </dict>
      <key>anx01.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,452},{99,264}}</string>
        <key>offset</key>
        <string>{2.5,93}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{153,0},{99,264}}</string>
        <key>sourceSize</key>
        <string>{400,450}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>s056.png</string>
      <key>size</key>
      <string>{1024,716}</string>
      <key>textureFileName</key>
      <string>s056</string>
    </dict>
  </dict>
</plist>
