<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hany07.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{278,448}}</string>
        <key>offset</key>
        <string>{0,26}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{61,50},{278,448}}</string>
        <key>sourceSize</key>
        <string>{400,600}</string>
      </dict>
      <key>hany08.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,448},{278,448}}</string>
        <key>offset</key>
        <string>{1,26}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{62,50},{278,448}}</string>
        <key>sourceSize</key>
        <string>{400,600}</string>
      </dict>
      <key>hany05.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,0},{276,448}}</string>
        <key>offset</key>
        <string>{2,26}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{64,50},{276,448}}</string>
        <key>sourceSize</key>
        <string>{400,600}</string>
      </dict>
      <key>hany03.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,0},{273,448}}</string>
        <key>offset</key>
        <string>{2.5,26}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{66,50},{273,448}}</string>
        <key>sourceSize</key>
        <string>{400,600}</string>
      </dict>
      <key>hany04.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,276},{272,448}}</string>
        <key>offset</key>
        <string>{4,26}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{68,50},{272,448}}</string>
        <key>sourceSize</key>
        <string>{400,600}</string>
      </dict>
      <key>hany06.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,548},{268,448}}</string>
        <key>offset</key>
        <string>{5,26}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{71,50},{268,448}}</string>
        <key>sourceSize</key>
        <string>{400,600}</string>
      </dict>
      <key>hany02.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,448},{247,349}}</string>
        <key>offset</key>
        <string>{1.5,75.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{78,50},{247,349}}</string>
        <key>sourceSize</key>
        <string>{400,600}</string>
      </dict>
      <key>hany01.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,548},{146,344}}</string>
        <key>offset</key>
        <string>{-19,78}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{108,50},{146,344}}</string>
        <key>sourceSize</key>
        <string>{400,600}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>s058.png</string>
      <key>size</key>
      <string>{999,996}</string>
      <key>textureFileName</key>
      <string>s058</string>
    </dict>
  </dict>
</plist>
