<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sizhan06.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{400,279}}</string>
        <key>offset</key>
        <string>{0,11.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,49},{400,279}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>sizhan05.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{323,224}}</string>
        <key>offset</key>
        <string>{-8.5,16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{30,72},{323,224}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>sizhan03.png</key>
      <dict>
        <key>frame</key>
        <string>{{723,0},{292,233}}</string>
        <key>offset</key>
        <string>{14,20.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{68,63},{292,233}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>sizhan04.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,224},{280,251}}</string>
        <key>offset</key>
        <string>{17,29.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{77,45},{280,251}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>sizhan07.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,233},{259,207}}</string>
        <key>offset</key>
        <string>{17.5,43.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{88,53},{259,207}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>sizhan02.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,440},{195,248}}</string>
        <key>offset</key>
        <string>{-9.5,63}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{93,13},{195,248}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>sizhan08.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,635},{240,184}}</string>
        <key>offset</key>
        <string>{4,31}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{84,77},{240,184}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
      <key>sizhan01.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,875},{165,120}}</string>
        <key>offset</key>
        <string>{-5.5,130}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{112,10},{165,120}}</string>
        <key>sourceSize</key>
        <string>{400,400}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>s060.png</string>
      <key>size</key>
      <string>{1015,995}</string>
      <key>textureFileName</key>
      <string>s060</string>
    </dict>
  </dict>
</plist>
