<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>tuci03.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{449,327}}</string>
        <key>offset</key>
        <string>{0.5,16.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,45},{449,327}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>tuci04.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,0},{444,323}}</string>
        <key>offset</key>
        <string>{-2,8.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,55},{444,323}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>tuci05.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,323},{426,301}}</string>
        <key>offset</key>
        <string>{-12,26.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,48},{426,301}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>tuci02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,327},{418,292}}</string>
        <key>offset</key>
        <string>{-2,11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,68},{418,292}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>tuci06.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,619},{406,307}}</string>
        <key>offset</key>
        <string>{3,28.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{25,43},{406,307}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>tuci01.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,624},{307,188}}</string>
        <key>offset</key>
        <string>{1.5,-5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{73,136},{307,188}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>tuci07.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,624},{292,197}}</string>
        <key>offset</key>
        <string>{-4,30.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{75,96},{292,197}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
      <key>tuci08.png</key>
      <dict>
        <key>frame</key>
        <string>{{791,624},{292,190}}</string>
        <key>offset</key>
        <string>{-4,34}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{75,96},{292,190}}</string>
        <key>sourceSize</key>
        <string>{450,450}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>s062.png</string>
      <key>size</key>
      <string>{981,931}</string>
      <key>textureFileName</key>
      <string>s062</string>
    </dict>
  </dict>
</plist>
