<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>yj02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{267,253}}</string>
        <key>offset</key>
        <string>{0.5,30.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{77,153},{267,253}}</string>
        <key>sourceSize</key>
        <string>{420,620}</string>
      </dict>
      <key>yj03.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,0},{267,251}}</string>
        <key>offset</key>
        <string>{0.5,29.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{77,155},{267,251}}</string>
        <key>sourceSize</key>
        <string>{420,620}</string>
      </dict>
      <key>yj04.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,0},{262,219}}</string>
        <key>offset</key>
        <string>{0,36.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{79,164},{262,219}}</string>
        <key>sourceSize</key>
        <string>{420,620}</string>
      </dict>
      <key>yj05.png</key>
      <dict>
        <key>frame</key>
        <string>{{796,0},{249,220}}</string>
        <key>offset</key>
        <string>{1.5,37}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{87,163},{249,220}}</string>
        <key>sourceSize</key>
        <string>{420,620}</string>
      </dict>
      <key>yj06.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,219},{253,216}}</string>
        <key>offset</key>
        <string>{1.5,39}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{85,163},{253,216}}</string>
        <key>sourceSize</key>
        <string>{420,620}</string>
      </dict>
      <key>yj01.png</key>
      <dict>
        <key>frame</key>
        <string>{{787,249},{234,238}}</string>
        <key>offset</key>
        <string>{-1,41}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{92,150},{234,238}}</string>
        <key>sourceSize</key>
        <string>{420,620}</string>
      </dict>
      <key>yj07.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,251},{190,200}}</string>
        <key>offset</key>
        <string>{-1,37}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{114,173},{190,200}}</string>
        <key>sourceSize</key>
        <string>{420,620}</string>
      </dict>
      <key>yj08.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,435},{155,152}}</string>
        <key>offset</key>
        <string>{-0.5,41}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{132,193},{155,152}}</string>
        <key>sourceSize</key>
        <string>{420,620}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>s063.png</string>
      <key>size</key>
      <string>{1021,587}</string>
      <key>textureFileName</key>
      <string>s063</string>
    </dict>
  </dict>
</plist>
