<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>camera7_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{118,170}}</string>
        <key>offset</key>
        <string>{8,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49,10},{118,170}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera7_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,170},{118,167}}</string>
        <key>offset</key>
        <string>{8,5.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{49,11},{118,167}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera7_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,337},{119,164}}</string>
        <key>offset</key>
        <string>{6.5,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{47,14},{119,164}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera7_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,0},{119,160}}</string>
        <key>offset</key>
        <string>{6.5,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{47,18},{119,160}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera7_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,160},{124,155}}</string>
        <key>offset</key>
        <string>{2,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40,22},{124,155}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera7_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,0},{129,151}}</string>
        <key>offset</key>
        <string>{0.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,23},{129,151}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera7_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,501},{143,146}}</string>
        <key>offset</key>
        <string>{-1.5,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,22},{143,146}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera7_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,315},{137,146}}</string>
        <key>offset</key>
        <string>{-1.5,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{30,24},{137,146}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>pet1_2.png</string>
      <key>size</key>
      <string>{366,647}</string>
      <key>textureFileName</key>
      <string>pet1_2</string>
    </dict>
  </dict>
</plist>
