<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>camera4_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{155,169}}</string>
        <key>offset</key>
        <string>{-22.5,15.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,169}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera4_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,169},{161,167}}</string>
        <key>offset</key>
        <string>{-19.5,16.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,167}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera4_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,0},{161,167}}</string>
        <key>offset</key>
        <string>{-19.5,16.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,167}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera4_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,336},{161,167}}</string>
        <key>offset</key>
        <string>{-19.5,16.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,167}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera4_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,503},{156,167}}</string>
        <key>offset</key>
        <string>{-22,16.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,167}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera4_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,670},{161,166}}</string>
        <key>offset</key>
        <string>{-19.5,17}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,166}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera4_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,503},{161,165}}</string>
        <key>offset</key>
        <string>{-19.5,17.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,165}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera4_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,167},{155,163}}</string>
        <key>offset</key>
        <string>{-22.5,18.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,163}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>pet1_1.png</string>
      <key>size</key>
      <string>{317,836}</string>
      <key>textureFileName</key>
      <string>pet1_1</string>
    </dict>
  </dict>
</plist>
