<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>camera4_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{134,200}}</string>
        <key>offset</key>
        <string>{-6,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{27,0},{134,200}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera4_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,200},{128,200}}</string>
        <key>offset</key>
        <string>{-3,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{33,0},{128,200}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera4_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,400},{126,200}}</string>
        <key>offset</key>
        <string>{-2,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35,0},{126,200}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera4_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,600},{124,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{38,0},{124,200}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera4_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,800},{125,199}}</string>
        <key>offset</key>
        <string>{-1.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,0},{125,199}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera4_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,600},{144,198}}</string>
        <key>offset</key>
        <string>{-12,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,2},{144,198}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera4_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,400},{126,197}}</string>
        <key>offset</key>
        <string>{-2,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35,0},{126,197}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera4_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,400},{153,192}}</string>
        <key>offset</key>
        <string>{-15.5,-4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,8},{153,192}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>pet1_1.png</string>
      <key>size</key>
      <string>{405,999}</string>
      <key>textureFileName</key>
      <string>pet1_1</string>
    </dict>
  </dict>
</plist>
