<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>camera7_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{150,196}}</string>
        <key>offset</key>
        <string>{25,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{50,1},{150,196}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera7_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,196},{150,196}}</string>
        <key>offset</key>
        <string>{25,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{50,1},{150,196}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera7_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,392},{156,195}}</string>
        <key>offset</key>
        <string>{22,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{44,1},{156,195}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera7_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{163,194}}</string>
        <key>offset</key>
        <string>{18.5,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{37,0},{163,194}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera7_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,194},{150,194}}</string>
        <key>offset</key>
        <string>{25,1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{50,2},{150,194}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera7_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,587},{170,191}}</string>
        <key>offset</key>
        <string>{15,4.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{30,0},{170,191}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera7_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,388},{176,188}}</string>
        <key>offset</key>
        <string>{12,6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{24,0},{176,188}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera7_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,194},{182,185}}</string>
        <key>offset</key>
        <string>{9,7.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,0},{182,185}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>pet1_2.png</string>
      <key>size</key>
      <string>{482,778}</string>
      <key>textureFileName</key>
      <string>pet1_2</string>
    </dict>
  </dict>
</plist>
