<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>camera7_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{118,154}}</string>
        <key>offset</key>
        <string>{-2,5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{39,18},{118,154}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera7_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,154},{112,154}}</string>
        <key>offset</key>
        <string>{1,9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{45,14},{112,154}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera7_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,308},{138,148}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{29,24},{138,148}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera7_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,154},{132,146}}</string>
        <key>offset</key>
        <string>{-2,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32,29},{132,146}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera7_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,0},{144,143}}</string>
        <key>offset</key>
        <string>{-2,0.5}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{26,28},{144,143}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera7_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,144},{121,144}}</string>
        <key>offset</key>
        <string>{-0.5,-1}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{39,29},{121,144}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera7_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,0},{116,144}}</string>
        <key>offset</key>
        <string>{3,2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{45,26},{116,144}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera7_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,456},{115,141}}</string>
        <key>offset</key>
        <string>{1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{44,28},{115,141}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>pet1_2.png</string>
      <key>size</key>
      <string>{377,597}</string>
      <key>textureFileName</key>
      <string>pet1_2</string>
    </dict>
  </dict>
</plist>
