<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>camera4_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{129,200}}</string>
        <key>offset</key>
        <string>{-2.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{33,0},{129,200}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera4_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,200},{127,197}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35,0},{127,197}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera4_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,397},{126,194}}</string>
        <key>offset</key>
        <string>{-2,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35,0},{126,194}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera4_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,591},{125,194}}</string>
        <key>offset</key>
        <string>{-1.5,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,0},{125,194}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera4_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,785},{125,194}}</string>
        <key>offset</key>
        <string>{-1.5,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,0},{125,194}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera4_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,979},{124,194}}</string>
        <key>offset</key>
        <string>{-3,3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{35,0},{124,194}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera4_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1173},{127,192}}</string>
        <key>offset</key>
        <string>{-2.5,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{34,0},{127,192}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
      <key>camera4_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,979},{124,192}}</string>
        <key>offset</key>
        <string>{-2,4}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,0},{124,192}}</string>
        <key>sourceSize</key>
        <string>{200,200}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>pet1_1.png</string>
      <key>size</key>
      <string>{248,1365}</string>
      <key>textureFileName</key>
      <string>pet1_1</string>
    </dict>
  </dict>
</plist>
